body {
    background-color: #f6d503;
    text-align: center;
    padding: 20px;
}

/* Estilos para enlaces con imágenes */
a img {
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.1);
}

/* Contenedor de botones */
.botones {
    .botones {
        display: flex;       /* Activa Flexbox */
        justify-content: center;  /* Centra los botones horizontalmente */
        gap: 20px;           /* Espaciado entre los botones */
        margin: 20px 0;
        align-items: center; /* Alinea verticalmente los elementos */
    }
}

.botones a {
    display: inline-block;
    margin: 10px;
}

/* Banner principal */
.banner img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el texto */
p {
    margin: 20px auto;
    width: 80%;
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

.colorRGB {
    color: rgb(100, 100, 255);
    font-style: italic;
}

/* Pie de página */
.piePagina {
    margin-top: 30px;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.piePagina p {
    margin-bottom: 10px;
}

/* Contenedor de redes sociales */
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.redes-sociales a img {
    width: 30px;
}